# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Environment
.env
*.env
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs and metadata
*.log

# Model and output files
*.pth
*.pt
*.onnx
runs/
checkpoints/
